[submodule "my-website/themes/paper"]
	path = my-website/themes/paper
	url = https://github.com/nanxiaobei/hugo-paper
[submodule "my-website/themes/poison"]
	path = my-website/themes/poison
	url = https://github.com/lukeorth/poison.git
[submodule "my-website/themes/hyde"]
	path = my-website/themes/hyde
	url = https://github.com/spf13/hyde.git
